body {
  background-image: url(../burger1.jpg);
  background-color: #cccccc;
  font-family: 'Julius Sans One', sans-serif;
}

.row {
  margin-left: 100px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.topColumn h1 {
  text-align: center; 
} 

.logo {
  text-align: center;
  padding-top: 75px;
}

img {
  height: 200px;
  width: 250px;
}

.BurgerImg {
  text-align: center;
  height: 1020px;
  width: 1750px;
}

.description {
  background-color: antiquewhite;
  font-weight: bolder;
  text-align: center;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  opacity: .85;
  width: 300px;
  height: 300px;
  border-radius: 10px;
}