body {
  background-image: url(../Images/FraserRiverBackground.jpg);
  background-size: auto;
  background-color: #cccccc;
  font-family: 'Julius Sans One', sans-serif;
  overflow: hidden;
}

.row {
  margin-left: 100px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.topColumn h1 {
  text-align: center; 
} 

.logo {
  text-align: center;
  padding-top: 75px;
}

img {
  height: 200px;
  width: 250px;
}

.BurgerImg {
  text-align: center;
  height: 1020px;
  width: 1750px;
}

.description {
  background-color: #7e8896;
  font-weight: bolder;
  text-align: center;
  padding: 15px;
  padding-bottom: 25px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 80px;
  width: 500px;
  height: 320px;
  border-radius: 20px;
  box-shadow: 15px 15px 20px;
}

.caption {
  font-size: 7pt;
}

button {
  font-family: 'Julius Sans One', sans-serif;
  opacity: .99;
  background-color: #1152ad;
  color:#c2c6cc;
  border: solid;
  border-width: 3px;
  border-color: black;
  letter-spacing: 4px;
  font-size: 18pt;
  font-weight: 900;
  width: 150px;
  height: 40px;
  margin-top: 15px;
  
  box-shadow: 5px 5px 15px black;
}

button:hover {
  cursor: pointer;
}

button:active {
  color: #1152ad;
  background-color:c2c6cc;
}