body{
  background-color: #504c4c;
  font-family: 'Julius Sans One', sans-serif;
}

h1 {
  padding-top: 5em;
  text-align: center;
}

ul {
  padding-left: 5em;
  border: black;
  border-width: 2px;
}

li {
  list-style: none;
  border-width: 5px;
  border-bottom: black;
  width: 500px;
  height: 100px;
  background-color: antiquewhite;
}